.main {
  width: 60%;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post > div {
  margin-top: 10px;
}

.post .post-tags {
  align-self: flex-start;
}

.main footer {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .main {
    width: 80vw;
  }
}
