---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import { getRankedPosts, getPosts } from '../lib/notion/client'

const [rankedPosts, recentPosts] = await Promise.all([
  getRankedPosts(5),
  getPosts(5),
])
---

<Layout description="A blog site" path="/">
  <div slot="main">
    <div class="blog-container">
      {
        rankedPosts.map((p, i) => (
          <Card post={p} href={`/posts/${p.Slug}`} extClass={`f${i}`} />
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .blog-container {
    width: 100%;
    width: 1300px;
    display: grid;
    gap: 30px;
  }
</style>
