---
import Layout from '../layouts/Layout.astro'
import Card from '../components/blog/Card.astro'
import { getRankedPosts, getPosts } from '../lib/notion/client'
import PostInfo from '../components/blog/PostInfo.astro'

const [rankedPosts, recentPosts] = await Promise.all([
  getRankedPosts(5),
  getPosts(5),
])
---

<Layout description="A blog site" path="/">
  <div slot="main">
    <h1>编辑精选</h1>
    <div class="blog-container">
      {
        rankedPosts.map((p, i) => (
          <Card post={p} href={`/posts/${p.Slug}`} extClass={`f${i}`} />
        ))
      }
    </div>
    <h1>最新发布</h1>
    <div class="post-infos">
      {recentPosts && recentPosts.map((p) => <PostInfo post={p} />)}
    </div>
  </div>
</Layout>

<style>
  .blog-container {
    width: 100%;
    width: 1300px;
    display: grid;
    gap: 30px;
  }

  .post-infos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 700px) {
    .blog-container,
    .post-infos {
      display: flex;
      flex-direction: column;
      width: 80vw;
      padding: 0px;
    }
  }
</style>
