---
import HeaderLink from './HeaderLink.astro'
import SearchButton from './SearchButton.astro'

interface Props {
  siteTitle: string
  customIconURL: string
}

const links = [
  { title: 'Home', href: '/' },
  { title: 'All', href: '/all' },
  { title: 'Novel', href: '/novel' },
  { title: 'Poems', href: '/pomes' },
]

const { customIconURL, siteTitle } = Astro.props
---

<header class="header">
  <div class="icon">
    {customIconURL && <img src={customIconURL} alt="icon" />}
    <span class="icon-text">{siteTitle}</span>
  </div>
  <ul class="header-links">
    {links.map((link) => <HeaderLink title={link.title} href={link.href} />)}
  </ul>
  <div class="search">
    <SearchButton />
  </div>
</header>
<style>
  .header {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    position: fixed;
    top: 0;
    z-index: 100;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    color: var(--bg);
    background: linear-gradient(
      to bottom,
      white,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.85)
    );
    border-bottom: 1px solid rgba(18, 18, 19, 0.144);
  }

  .header > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 200px;
  }

  .header > .icon .icon-text {
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 8px;
    font-weight: 600;
    color: black;
  }

  .header > .icon img {
    width: 40px;
    height: 40px;
  }

  .header > .header-links {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header > .search {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
</style>
