---
import { Icon } from 'astro-icon/components'
---

<button class="search-button open-search-modal" type="button">
  <Icon name="octicon:search-24" />
  <span>Search</span>
</button>

<style>
  .search-button {
    display: flex;
    align-items: center;
    width: 100px;
    background-color: transparent;
    border: none;
    border-radius: var(--radius);
    padding: 0.4rem 0.5rem;
    color: #777;
    font-size: 0.95rem;
    font-weight: bold;
  }
  .search-button:hover {
    cursor: pointer;
    background-color: #ddd;
  }
  .search-button svg {
    width: 20px;
    height: 20px;
    margin-right: 0.25rem;
  }
  [astro-icon='octicon:search-24'] {
    color: var(--fg);
  }

  @media screen and (max-width: 700px) {
    .search-button {
      width: 50px;
    }
    .search-button > span {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    function handleKeydown(event: KeyboardEvent) {
      if (!document || document === null) return

      if (event.keyCode === 75 && event.metaKey) {
        // Ctrl+K or Cmd+K
        const modalBtn = document!.querySelector(
          '.open-search-modal'
        ) as HTMLButtonElement

        modalBtn.click()
      }
    }

    document.addEventListener('keydown', handleKeydown)
  })
</script>
